<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for signing up, <%= @user.name %>!</h1>
    <p>You can reserve a study room now by</p>
    <p><%= link_to 'click here', root_url %></p>
  </body>
</html>
