<% provide(:title, 'All histories') %>
<h1>All histories</h1>

<%= will_paginate %>

<ul class="histories">
  <%= render @histories %>
</ul>

<% if isadmin? %>
    <%= link_to "New booking histories", search_path, class: "btn btn-lg btn-primary" %>
<% end %>

<%= will_paginate %>