<% provide(:title, 'All rooms') %>
<h1>All rooms</h1>

<%= will_paginate %>

<ul class="rooms">
  <%= render @rooms %>
</ul>

<% if isadmin? %>
    <%= link_to "Create A Room", new_room_path, class: "btn btn-lg btn-primary" %>
<% end %>

<%= will_paginate %>